<a href='/songs/new'>New Song</a>
<h1>Songs Home Page</h1>
<hr style='width:15%; text-align:left; margin: 0 auto 0 0;'>
<% @songs.each do |song| %>
  <h2><%= song.name %></h2>
  <a href='/songs/<%= song.slug %>'>See more</a>
  <hr style='width:15%; text-align:left; margin: 0 auto 0 0;'>
<% end %>
